html {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    background-color: #1F2937;
}


button {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}

ul {
    padding: 0px;
}

a {
    text-decoration: none;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    color: #F9FAF8;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 28px;
}

.header-links a {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 0;
    margin: 100px 0;
    gap: 48px;
}

.content-main {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.content-main .bigger {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.content-main .smaller {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.content-image {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #6d747d;   
}

.background-information {
    background-color: #FFFFFF;
    width: 100%
}

.information {
    display: flex;
    flex-direction: column;
}

.information-header {
    display: flex;
    justify-content: center;
    flex: ;
}

.information-body-1 {
    display: flex;
    height: 50px;
    width: 50px;
    border: 10px;
}