html {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 0 1 1000px;
}

ul {
    padding: 0px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: #F9FAF8;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 28px;
}

.header-links a {
    color: #E5E7EB;
}

.logo {
    font-size: 28px;
}

.content {
    display: flex;
}

.content-main p {
    font-size: 48px;
    width: 500px;
}